<div class="card" style="align-content:center;">
  <div class="card-body">

    <form>

      <div class="form-group">
        <label for="projectList">Select Project</label>
        <select class="form-control" id="projectList" (change)="selectProjectChangeHandler($event)">
          <option [value]="1" selected>Select Option</option>
          <option *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
          </option>

        </select>
      </div>

      <div class="form-group">
        <label for="startDate">Select Start Date</label>
        <input type='datetime-local' class="form-control" id="startDate" name="startDate" [(ngModel)]="projectDetail.startDate" />

      </div>

      <div class="form-group">
        <label for="completedDate">Select Completion Date</label>
        <input type='datetime-local' class="form-control" id="completedDate" name="completedDate" [(ngModel)]="projectDetail.completedDate" />

      </div>

      <div class="form-group">
        <label for="completed">Completed</label>
        <input type="checkbox" class="form-control" id="completed" name="completed" [(ngModel)]="projectDetail.isCompleted" />

      </div>


      <div class="form-group">
        <label for="comment">Comment</label>
        <input type="text" class="form-control" id="comment" name="comment" [(ngModel)]="projectDetail.comment" />

      </div>

      <div class="form-group float-right">
        <button class="btn btn-success" (click)="save()">Submit</button>
      </div>
    </form>

  </div>
</div>


 



